#header{font-size:30px;font-family:cumbria;text-align:center; background-color:blue; color:red;}
#one{font-size:30px;text-align:center;background-color:lightblue;font-family: 'Times New Roman';margin-top:30px;}
#two{font-family: 'Times New Roman';font-weight:bold;text-decoration:underline;text-align:center; font-size:20px;color:black;}
#three{font-family:'times';font-size:15px;color:black;}

#mylist {
  list-style-type: square;font-size:15px;color:black;
}
#my{background:url('cms3.png')no-repeat;height: 500px; 
  background-position: center; 
  background-repeat: no-repeat;background-position:500px 500px;
  }
#Advantages{
	text-align:center;
	text-decoration: underline;
}
Originator{
	margin-left:200px;
	
}
#Comments{
	text-align:center;
	color:blue;
}
.navbar{
	/*hide the content*/
	overflow:hidden;
	background-color: #333;
}
.navbar a{
	/*placement of the navbar*/
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.navbar a:hover {
  /*change color on active button/word*/
  background-color: white;
  color: black;
}

.navbar a.active {
	
  background-color:white;
  color: black;
}
.farhanh3{
	text-decoration: underline;
}
.farhan_h1{
	text-align:center;
	text-decoration: underline;
}
hr{
	width:870px;
}
.farhan_h4{
	margin-left:200px;
	
}
.img_edit{
	width:25%; 
	/*height:30;*/
	float:left;
}

body{
	font-family:arial;
	
}
.farhan{
	text-align:center;
	color:blue;
}
/*img{
	width:"420";
	height:"345";
}*/
.edit_vid{
	float:right;
	margin-right: 30px;
}

#edit_txt{
	float: right;
	margin-right:40px;
}
#edit_txt_2{
	text-decoration:none;
}
#edit_img{
	width:"420";
	height:"345";
}

.bottom_sec {
	/*footer of the site*/
	background-color: lightgrey;
	padding: 20px;
	margin-bottom: 10px;
	/*position: relative;*/
}

#foot-bottom{
	text-align: center;
	color: black;
}
#edit_foot{
	/*create no decoration around the text*/
	text-decoration: none;
}
/*button code*/
#mybtn{
	display:none;
	position: fixed; /*so it cannot be moved*/
	bottom:20px; /*bottom pad*/
	right:30px; /*right pad*/
	font-size: 16px; /*font size*/
	border: none;
	outline: none;
	background-color: black;
	color: white; /*text color*/
	cursor: pointer;
	padding:15px;
	border-radius: 4px;
}
#mybtn:hover{
	/*on hover*/
	background-color: #557A95
	color: white;
}
#btn{
background-color: #3399ff;
border: none;
color:white;
text-align:center;
text-decoration:none;
display:inline-block;
font-size: 16px;
margin: 4px 2px;
cursor:pointer; /*change the shape of the cursor*/
padding: 12px 28px;	
}
#btn:hover {
	/*apply a border to the button*/
	border:2px solid #999999;
}

#main_para{
	margin-left:30px;
	margin-right:30px;
}
#main_para_2{
	margin-left:40px;

}
/*media queries*/
@media screen and (max-width:700px){
	.navbar a{
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	}
	.farhan_h4{
		margin-left: 10px;
	}
	.edit_vid{
		/*change the video size*/
		width:90%;
		margin-left: 10px;
	}
	.img{
		margin-left: 10px;
	}
}
@media screen and (max-width:600px){
	/*when the screen is 600px it will do the following chnages below*/
	.navbar a{
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	}
	.farhan_h4{
		margin-left: 10px; /*move text slighly to the left*/
	}
	.edit_vid{
		/*change the video size*/
		width:90%;
		margin-left: 10px;
	}
	
}
/*responsive setup for when the screen is less than 400px*/	
@media screen and (max-width: 500px){
	/*make the navigation bar stackon top of each other instead of inline*/
	.navbar a{
		float: none;
		width:100%;
		display:block;/*make navbar appear as block*/
	}
	.edit_vid{
		/*change the video size*/
		width:90%;
		margin-left: 10px;
	}
	.bottom_sec{
		/*change the footer*/
		margin-bottom:5px;
	}
	.img{
		/*change images*/
		width:46%;
		
	}
	.farhan_h4{
		margin-left: 10px;
	}
}/*
@media screen and (max-width: 512px){*/
/*response if viewed on a mobile phone*/
	/*.navbar a{
		float:none;
	width:50%;}*	